<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link type="text/css" href="css/findPassword.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            setTime($("#tip"));
        }
    </script>
</head>
<body>
    <div class="content">
        <div class="for-process">
            <div class="plist for-cur"></div>
            <div class="plist for-cur"></div>
            <div class="plist for-cur"></div>
            <div class="plist for-cur"></div>
            <div class="ptextbox">
                <div class="ptext for-cur"><em>1</em><br/><strong>填写账户名</strong></div>
                <div class="ptext for-cur"><em>2</em><br/><strong>验证身份</strong></div>
                <div class="ptext for-cur"><em>3</em><br/><strong>设置新密码</strong></div>
                <div class="ptext for-cur"><em>4</em><br/><strong>完成</strong></div>
            </div>
        </div><!--for-liucheng/-->
        <div class="successs">
            <h3 id="tip"></h3>
            <p><a href="/">点击这里,返回登陆界面</a></p>
        </div>

        <script type="text/javascript">
            countdown = 5;
            function setTime(obj) {
                if (countdown == 0) {
                    window.location.href = "/";
                    window.event.returnValue = false;
                }else{
                    obj.text("恭喜您,修改成功!" + countdown + "秒后返回登陆界面");
                    countdown--;
                }
                //设置setTime每秒执行一次
                setTimeout(function () {
                        setTime(obj)
                    }
                    , 1000)
            }
        </script>
    </div>
</body>
</html>