<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link type="text/css" href="css/findPassword.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="content">
    <div class="web-width">
        <div class="for-process">
            <div class="plist for-cur"></div>
            <div class="plist for-cur"></div>
            <div class="plist"></div>
            <div class="plist"></div>
            <div class="ptextbox">
                <div class="ptext for-cur"><em>1</em><br/><strong>填写账户名</strong></div>
                <div class="ptext for-cur"><em>2</em><br/><strong>验证身份</strong></div>
                <div class="ptext"><em>3</em><br/><strong>设置新密码</strong></div>
                <div class="ptext"><em>4</em><br/><strong>完成</strong></div>
            </div>
        </div><!--for-liucheng/-->
        <form class="forget-pwd" th:action="@{/findPasswordII}" th:object="${student}" method="post">
            <dl>
                <dt>验证方式：</dt>
                <dd>
                    <select class="verification">
                        <option value="0">邮箱验证</option>
                    </select>
                </dd>
                <div class="clears"></div>
            </dl>
            <dl class="email-verification">
                <dt>邮箱号：</dt>
                <dd><input type="text" id="emailNumber" readonly="readonly" th:value="${student.email}"
                           th:field="*{email}"/></dd>
                <div class="clears"></div>
            </dl>
            <dl class="email-checkCode">
                <dt>邮箱校验码：</dt>
                <dd><input id="emailCode" name="emailCode" type="text" maxlength="6"
                           onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)"
                           onblur="this.v();"/>
                    <button id="getEmailCode">获取邮箱验证码</button>
                    <div id="sendTip"></div>
                </dd>
                <div class="clears"></div>
            </dl>
            <div class="submit" onsubmit="return codeCheck()"><input id="submit" type="submit" value="提交"/></div>
        </form><!--forget-pwd/-->
        <script>
            var countdown = 60;
            $(function () {
                $("#getEmailCode").click(function () {
                    var email = $("#emailNumber").val();
                    $.ajax({
                        url: "/sendCode",
                        type: "POST",
                        data: {
                            "email": email,
                        },
                        async: false,
                        success: function (result) {
                            if (result == "success"){
                                setTime();
                            }
                        }
                    });
                })
            });
            //获取邮箱验证码
            function setTime() {
                var obj = document.getElementById("getEmailCode");
                if (countdown == 0) {
                    obj.removeAttribute("disabled");
                    obj.innerHTML = "获取邮箱验证码";
                    countdown = 60;
                    return;
                } else {
                    obj.setAttribute("disabled", true);
                    obj.innerHTML = "重新发送(" + countdown + ")";
                    countdown--;
                }
                setTimeout(function () {
                        setTime()
                    }
                    , 1000)
            }
            function codeCheck() {
                if ($("#emailCode").val() === "" || $("#emailCode").val().length != 6) {
                    $("#emailCode").val("");
                    alert("验证码输入格式错误");
                    return false;
                }
                return true;
            }
        </script>
    </div><!--web-width/-->
</div>
</body>
</html>