<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link type="text/css" href="css/findPassword.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<div class="content">
    <div class="web-width">
        <div class="for-process">
            <div class="plist for-cur"></div>
            <div class="plist for-cur"></div>
            <div class="plist for-cur"></div>
            <div class="plist"></div>
            <div class="ptextbox">
                <div class="ptext for-cur"><em>1</em><br/><strong>填写账户名</strong></div>
                <div class="ptext for-cur"><em>2</em><br/><strong>验证身份</strong></div>
                <div class="ptext for-cur"><em>3</em><br/><strong>设置新密码</strong></div>
                <div class="ptext"><em>4</em><br/><strong>完成</strong></div>
            </div>
        </div><!--for-liucheng/-->
        <form class="forget-pwd" th:action="@{/findPasswordIII}" th:object="${student}" method="post" onsubmit="return formatCheck()">
            <dl>
                <dt>新密码：</dt>
                <dd><input type="password" id="newPassword" name="newPassword"/></dd>
                <div class="clears"></div>
            </dl>
            <dl>
                <dt>确认密码：</dt>
                <dd><input type="password" id="confirm" name="confirm"/></dd>
                <div class="clears"></div>
            </dl>
            <div class="submit"><input id="submit" type="submit" value="提交"/></div>
        </form><!--forget-pwd/-->

    </div><!--web-width/-->
</div><!--content/-->
<script>
    function formatCheck() {
        if ($("#newPassword").val() === "" || $("#confirm").val() === "" || $("#newPassword").val().length != $("#confirm").val().length) {
            $("#newPassword").val("");
            $("#confirm").val("");
            alert("格式输入错误");
            return false;
        }
        return true;
    }
</script>
</body>
</html>