<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link type="text/css" href="css/findPassword.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<script type="text/javascript">
    var code;
    window.onload = function () {
        createCode();
    }
    function createCode() {
        code = "";
        var codeLength = 4;//验证码的长度
        var index;
        var checkCode = document.getElementById("codeVal");
        var random = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C',
            'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O',
            'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z');
        for (var i in random) {
            if (i == 4)
                break;
            index = Math.floor(Math.random() * 36);
            code += random[index];
        }
        checkCode.value = code;
    }
</script>
<body>
<div class="content">
    <div class="web-width">
        <div class="for-process">
            <div class="plist for-cur"></div>
            <div class="plist"></div>
            <div class="plist"></div>
            <div class="plist"></div>
            <div class="ptextbox">
                <div class="ptext for-cur"><em>1</em><br/><strong>填写账户名</strong></div>
                <div class="ptext"><em>2</em><br/><strong>验证身份</strong></div>
                <div class="ptext"><em>3</em><br/><strong>设置新密码</strong></div>
                <div class="ptext"><em>4</em><br/><strong>完成</strong></div>
            </div>
        </div>
        <form class="forget-pwd" th:action="@{/findPasswordI}" th:object="${student}" method="post" name="findPassword"
              onSubmit="return codeCheck()">
            <dl>
                <dt>账户名：</dt>
                <dd><input id="sid" name="sid" type="text"/></dd>
                <div class="clears"></div>
            </dl>
            <dl>
                <dt>验证码：</dt>
                <dd>
                    <input type="text" id="codeInput"/>
                    <div class="validateCode">
                        <input type="button" id="codeVal" onclick="createCode()"/>
                    </div>
                </dd>
                <div class="clears"></div>
            </dl>
            <div class="submit"><input id="submit" type="submit" value="提交"/></div>

        </form>
    </div>
</div>
<script>
    function codeCheck() {
        var inputCode = document.getElementById("codeInput");
        if (inputCode.value.toUpperCase() != code){
            createCode();
            inputCode.value = "";
            alert("验证码输入错误！@_@");
            return false;
        }
        return true;
    }
</script>
</body>
</html>